<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Weather</title>
</head>
<body>
    <h1>Your Local Forecast</h1>
    <h3>City: <%= apiData.name %> </h3>
    <h3>Current Temp: <%= apiData.main.temp %> </h3>
    <h3>Description: <%= apiData.weather[0].description %> </h3>
    <a href='/'>Back to Home</a>
</body>
</html>