<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Welcome to the Weather App!</h1>
    <h3>Please Enter Your Zip Code:</h3>
    <form action='/weather' method='POST'>
    <div>
        <label for='zipcode'>Zip Code:</label>
        <input type='text' name='zipcode' id='zipcode' />
    </div>
    <button type='submit'>Submit</button>
    </form>
</body>
</html>